$color-primary: #3541b4;
$color-foregorund: #19213D;
$color-primary-darkened-5: darken($color-primary, 5%);
$color-primary-darkened-10: darken($color-primary, 10%);
$color-text-secondary: #6d758f;
$color-text-muted: #667085;

$font-family-main: "Montserrat", sans-serif;
$font-family-alt: "Inter", sans-serif;

$border-radius-md: 8px;
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;